/AcademicTutorshipManagement/nbproject/private/
/AcademicTutorshipManagement/dist/
/AcademicTutorshipManagement/build/
/AcademicTutorshipManagement/src/academictutorshipmanagement/model/DatabaseConfiguration.txt
