/AcademicTutorshipManagement/nbproject/private/
/AcademicTutorshipManagement/dist/
/AcademicTutorshipManagement/build/
AcademicTutorshipManagement/database/AcademicTutorshipManagement.sql
AcademicTutorshipManagement/nbproject/build-impl.xml
AcademicTutorshipManagement/nbproject/genfiles.properties
AcademicTutorshipManagement/nbproject/project.properties
AcademicTutorshipManagement/nbproject/project.xml
