/AcademicTutorshipManagement/nbproject/private/
/AcademicTutorshipManagement/dist/
/AcademicTutorshipManagement/build/
AcademicTutorshipManagement/database/AcademicTutorshipManagement.sql
AcademicTutorshipManagement/nbproject/build-impl.xml
AcademicTutorshipManagement/nbproject/genfiles.properties
AcademicTutorshipManagement/nbproject/project.properties
AcademicTutorshipManagement/nbproject/project.xml
/AcademicTutorshipManagement/src/academictutorshipmanagement/model/DatabaseConfiguration.txt
/AcademicTutorshipManagement/src/academictutorshipmanagement/utilities/Credentials.txt
/AcademicTutorshipManagement/AcademicTutorshipManagement/nbproject/private/
/AcademicTutorshipManagement/AcademicTutorshipManagement/build/
/AcademicTutorshipManagement/AcademicTutorshipManagement/dist/
